.cart{
    display: flex;
    flex-direction: column;
}

.cartitem{
    display: inline-flex;
    margin: 20px 10px;
    padding: 20px;
    box-sizing: border-box;
}

.images {
    height: 140px;
    width: 140px;
    border-radius: 4;
    background: #ccc;
}
.right-block{
    padding: 0 20px;
    justify-content: center;
    font-size: 20px;
}

.cart-action{
    margin-top: 10px;
    margin-left: -10px;
}

.icons {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    padding: 5px;
}

.icons:hover {
    cursor: pointer;
}

