.cartitem{
    display: inline-flex;
    margin: 40px 10px;
}

.images {
    height: 140px;
    width: 140px;
    border-radius: 4;
    background: #ccc;
}
.right-block{
    padding: 0 20px;
}

.cart-action{
    margin-top: 20px;
    margin-left: -10px;
}

.icons {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    padding: 5px;
}

.icons:hover {
    cursor: pointer;
}

